body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  header{
    font-size: 40px;
    margin: 30px 0;
    margin-bottom: 20px;
    padding: 5px 0 3px;
    color: #fff;
    background: #aaa;
    text-align: center;
    font-family: 'Acme', sans-serif;
  }

  footer {
    padding: 5px 0 3px;
    color: #fff;
    text-align: center;
    background: #aaa;
    font-family: 'Acme', sans-serif;
}